<%= render partial: 'new' %>

<h2>
  Instructors
</h2>

<ul>
  <% @instructors.each do |instr| %>
    <li>
      <%= link_to "#{instr.name}", instructor_path(instr.id) %>

      <% if instr.ta %>
        <span> (TA)</span>
      <% end %>
    </li>
  <% end %>
</ul>
