<h1>
  <%= @instructor.name %>
</h1>

<p>
  <%= link_to "#{@course.name}", course_path(@course.id) %>
</p>

<p>
  <%= link_to "#{@location.name}", location_path(@location.id) %>
</p>

<% if @instructor.ta %>
  <p>
    TA
  </p>
<% end %>
